@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --btn-color: #007bff;
  --font-color: #fff;
  --my-font-size: 16px;
}

.btn {
  padding: 8px 16px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: var(--my-font-size);
  cursor: pointer;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out;
}

main {
  padding: 0 3vw;
}
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 10px 0px 10px;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.logo img {
  width: 40px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav a {
  padding: 8px 16px;
  font-size: var(--my-font-size);
  color: black;
  transition: transform 0.3s ease-in-out;
  border-radius: 6px;
}

nav a.active{
  background-color:#dadada;
}

header nav a:hover {
  background-color: #dadada;
}

header .search_bar {
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 6px;
}
header .search_bar:focus-within {
  border: 1px solid #333;
}

header .search_bar form {
  display: flex;
}

header .search_bar form button {
  padding: 0 16px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 0px 6px 6px 0px;
  background-color: white;
}
header .search_bar form button i {
  color: #707070;
  transition: color 0.2s ease-in-out;
}
header .search_bar form button i:hover {
  color: #333;
}

header .search_bar input {
  width: 100%;
  padding: 10px 16px;
  padding-left: 16px;
  outline: 0;
  border: none;
  border-radius: 6px 0px 0px 6px;
  font-size: var(--my-font-size);
}

header .user-account {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .user-account a {
  white-space: nowrap;
  background-color: var(--btn-color);
  color: white;
  border-radius: 6px;
}

header .category {
  margin-top: 20px;
  position: relative;
}
header .category-scroller {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth; /* Smooth scroll behavior */
}

.category-scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

header .category .category-scroller button {
  background-color: #f1f1f1;
  text-transform: capitalize;
  border: none;
  border-radius: 6px;
}
header .category .category-scroller button:hover {
  background-color: #dadada;
}

header .category .category-scroller .active {
  background-color: #202020;
  color: white;
}

header .category .category-scroller .active:hover {
  background-color: #202020;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #202020;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
  transition: opacity 0.3s ease;
  background-color: white;
}

.scroll-button.hidden {
  opacity: 0;
  pointer-events: none; /*Prevent clicks when hidden*/
}

.scroll-button:hover {
  background-color: #dadada;
}

.scroll-button.left {
  left: 0;
  box-shadow: 13px 0px 18px 15px white;
}

.scroll-button.right {
  right: 0;
  box-shadow: -13px 0px 18px 15px white;
}

/* for popup login and signup form */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container .loginformcontainer {
  display: flex;
  border-radius: 10px;
  position: relative;
}

.popup-container .loginformcontainer .form-img {
  border-radius: 10px 0 0 10px;
  width: 400px;
  height: auto;
  object-fit: cover;
}

.popup {
  background: #fff;
  padding: 30px;
  width: 400px;
  border-radius: 0 10px 10px 0;
  text-align: center;
}

.popup h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.popup .field {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  position: relative;
  border-radius: 6px;
}

.popup form .field input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: var(--my-font-size);
  border-radius: 6px;
}

.popup form .field button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: var(--my-font-size);
  border-radius: 6px;
}

.popup form .field input {
  border: 1px solid #bfbfbf;
  padding: 0 10px;
  transition: 0.2s ease-in-out;
}

.popup form .field .pw-eye {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.popup form .field button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.popup form .field input:hover {
  border: 1px solid #333;
}

.popup form .field input:focus {
  border: 1px solid #007bff;
}

.popup form .field button:hover {
  background-color: #0069d9;
}

.popup .form-link {
  margin-top: 20px;
}

.popup .form-link span,
.popup .form-link a {
  color: #333;
  font-size: var(--my-font-size);
}

.popup .form-link a {
  color: #007bff;
}

.popup .form-link a:hover {
  text-decoration: underline;
}

.popup .line {
  height: 1px;
  width: 100%;
  margin-top: 30px;
  position: relative;
  background-color: #bfbfbf;
}

.popup .line::before {
  content: "OR";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #333;
  padding: 0 15px;
}

.popup .media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.popup .media-options span {
  font-size: var(--my-font-size);
}

.popup .media-options a.facebook {
  color: white;
  background-color: #4267b2;
}

.popup .media-options a.facebook:hover {
  background-color: #2f56a5;
}

.popup .media-options a.google {
  color: #333;
  border: 1px solid #bfbfbf;
}

.popup .media-options a.google:hover {
  border: 1px solid #007bff;
  background-color: #fafeff;
}

.popup .media-options img {
  width: 28px;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.loginformcontainer #close-btn {
  position: absolute;
  left: 101%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 25px;
  cursor: pointer;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.loginformcontainer #close-btn:hover {
  background-color: #ebebeb;
}
/* END */



/* for blog card */
.card-section .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 20px;
  margin-top: 30px;
}

.card-list .card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  cursor: pointer;
}
.card-list .card.hide {
  display: none;
}
.card-list .card:active {
  background-color: #dadada;
}

.card-section .card img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 6px;
  object-fit: cover;
}
.card-section .card h2 {
  color: black;
  font-size: 18px;
  margin-top: 8px;

  /* for show less text */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-section .card p {
  font-size: var(--my-font-size);
  color: #606060;

  /* for show less text */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-section .card .creater-date {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.card-section .card .creater {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.card-section .card .creater img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.card-section .card .creater .creater-name {
  color: #606060;
  font-size: var(--my-font-size);
}
.card-section .card .date {
  display: flex;
  align-items: center;
  font-size: var(--my-font-size);
  color: #606060;
}

.card-section .card .date .dot {
  width: 4px;
  height: 4px;
  background-color: #606060;
  margin-inline: 5px;
  margin-top: 4px;
  border-radius: 50%;
}